<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Penetration rate per country</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
  <br/>
     <table class="table table-condensed">
        <thread>
		  <tr>		
			<th>Country</th>
			<th>Nb internauts</th>
			<th>Nb sales</th>
			<th>Penetration rate</th>
		  </tr>
        </thread>
        <tbody>
        {% for country in countries %}
		  <tr> 
			<td> {{country.country_name}} </td>
			<td> {{country.nb_internauts}} </td>
			<td> {{country.nb_sales}} </td>
			<td> {% if country.over_performing %}
				<span class="label label-success"> 
				{% elif country.under_performing %} 
				<span class="label label-danger"> 
				{% else %} 
				<span > 
				{% endif %}				
				{{country.penetration_rate|round(2, 'floor')}} </span> </td>
		  </tr>
        {% endfor %}
		</tbody>
    </div>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 </body>
		
</html>
